@tailwind base;
@tailwind components;
@tailwind utilities;

.icon-btn {
  height: 24px;
  width: 24px;
}

.icon-btn-xs {
  height: 20px;
  width: 20px;
}

.label {
  padding-top: 2px;
  padding-bottom: 2px;
}

body {
  margin: 0;
  font-family: nunito, -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
